.carrito{
    
    border: 2px solid black;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cont-general{

    display: flex;
}

.modificador{
    font-size: 1.5rem;
    color: brown;
}

.sumar-todo{

    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    width:100%

}


.carritoStyle{
    border: 3px, solid black;

}